div.card {
  margin-top: 20px;
  /*width: 50rem;*/
}

.visited-article {
  color: darkorchid;
}

.visited-article-background {
  background-color: lightyellow;
}

button.btn {
  width: 90px;
  margin: 1px;
}

.delete-message {
  background-color: yellow;
  color: red;
  font-weight: bold;
}

.created-date {
  background-color: yellow;
  border-radius: 7px;
  padding: 5px;
}

@media only screen and (min-width: 992px) {
  .card {
    width: 57%;
    margin: 0 auto;
  }
}
