div.card {
  margin-top: 20px;
  /*width: 50rem;*/
}

.visited-article {
  color: darkorchid;
}

.visited-article-background {
  background-color: lightyellow;
}

button.btn {
  width: 100px;
  margin: 2px;
}

.delete-message {
  background-color: yellow;
  color: red;
  font-weight: bold;
}

.created-date {
  background-color: yellow;
  border-radius: 7px;
  padding: 5px;
}
