.form-div {
  border: 2px solid lightgrey;
  padding: 20px;
  border-radius: 5px;
}

form div label {
  font-weight: bold;
}

/*input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {*/
/*border: 1px solid red;*/
/*}*/

.red-text {
  color: red;
}

.form-div h1 {
  background-color: yellow;
  text-align: center;
  border-radius: 7px;
  padding: 3px 0;
}

/*style="width: 150px;"*/
.submit-button {
  width: 150px;
}
