<div class="form-div">
  <h1>{{ formTitle }}</h1>
  <form #articleForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label
        [class.red-text]="!title.valid && title.touched"
        for="title">Article Title</label>
      <input
        [(ngModel)]="article.title"
        [class.is-invalid]="!title.valid && title.touched"
        [class.is-valid]="title.valid"
        name="title"
        type="text"
        class="form-control"
        id="title"
        placeholder="title"
        required
        #title="ngModel">
      <span
        *ngIf="!title.valid && title.touched"
        class="form-text red-text">Please enter some title</span>
    </div>
    <div class="form-group">
      <label
        [class.red-text]="!image.valid && image.touched"
        for="image">Image Url</label>
      <input
        [(ngModel)]="article.image"
        [class.is-invalid]="!image.valid && image.touched"
        [class.is-valid]="image.valid"
        name="image"
        type="text"
        class="form-control"
        id="image"
        placeholder="image"
        required
        #image="ngModel">
      <span
        *ngIf="!image.valid && image.touched"
        class="form-text red-text">Please enter a URL to the image</span>
    </div>
    <div class="form-group">
      <button
        *ngIf="article.image !== '' && article.image !== null"
        type="button"
        (click)="toggleImageShow()"
        class="btn btn-info">
        {{ showImage ? 'Hide ' : 'Show ' }}Image
      </button>
    </div>
    <div class="form-group">
      <img
        class="img-fluid"
        [src]="article.image"
        *ngIf="showImage && article.image !== '' && article.image !== null">
    </div>
    <div class="form-group">
      <label
        [class.red-text]="!body.valid && body.touched"
        for="body">Article Content</label>
      <textarea
        [(ngModel)]="article.body"
        [class.is-invalid]="!body.valid && body.touched"
        [class.is-valid]="body.valid"
        name="body"
        class="form-control"
        id="body"
        rows="5"
        required
        #body="ngModel"></textarea>
      <span
        *ngIf="!body.valid && body.touched"
        class="form-text red-text">Please enter some content</span>
    </div>
    <button
      [disabled]="!articleForm.valid"
      type="submit"
      class="btn btn-info submit-button">Submit</button>
  </form>
</div>
