.form-div {
  border: 2px solid lightgrey;
  padding: 20px;
  border-radius: 5px;
}

form div label {
  font-weight: bold;
}

/*input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {*/
  /*border: 1px solid red;*/
/*}*/

.red-text {
  color: red;
}
